body {
    /* these three props center the page content nicely */
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* --- JUST FOR DISPLAY PURPOSES --- */
.header,
.hero,
.info-section,
.quote,
.CTA,
.footer {
    border: 2px solid red;
}