body {
    /* flex content sections */
    display: flex;
    /* change main axis to vertical */
    flex-direction: column;
    /* stretch/flex each section to the width of the page */
    align-items: stretch;
    /* remove margins */
    /* Add Roboto font */
    font-family: 'Roboto', sans-serif;

}

.header {
    /* horizontally and vertically align flex items */
    display: flex;
    align-items: center;
    /* left align header logo and right align links */
    justify-content: space-between;
    /* add proper background color */
    background-color: #1f2937;
    /* add header link text props */
}

.header-logo {
    /* add header logo text props */
    color: #f9faf8;
    font-size: 24px;
}

ul {
    /* remove default list styling */
    list-style: none;
    /* horizontally align list items */
    display: flex;
    /* space list items appealingly */
    padding: 0;
    margin: 0;
    gap: 24px;
}

a {
    /* remove underline from links */
    text-decoration: none;
    /* add props for font size and color */
    color: #f9faf8;
    font-size: 18px;
}

a:hover {
    /* add hover underline to links */
    text-decoration: underline;
}


/* --- FOR DISPLAY PURPOSES --- */
.header,
.hero,
.info-section,
.quote,
.CTA,
.footer,
body {
    border: 2px solid red;
}

/* --- NOTES --- */
/* 
1. How do I resize images?
2. How do I align every content section to the same width?
    a. Is that a `body` property?
    b. I think I need to set some `max-width` for all the content
    c. !! Each content section needs to flex to fit the width of the screen. !!
        - So that we can apply the proper `background-color`.
        - They also need to left and right align their content with each other. Mostly.

*/